altgraph==0.17.2
bleach==5.0.0
build==0.7.0
certifi==2021.10.8
charset-normalizer==2.0.12
colorama==0.4.4
commonmark==0.9.1
cycler==0.11.0
docutils==0.18.1
fonttools==4.33.3
future==0.18.2
idna==3.3
importlib-metadata==4.11.3
keyring==23.5.0
kiwisolver==1.4.2
matplotlib==3.5.2
numpy==1.22.3
packaging==21.3
pefile==2021.9.3
pep517==0.12.0
Pillow==9.1.0
pkginfo==1.8.2
Pygments==2.12.0
pyinstaller==5.1
pyinstaller-hooks-contrib==2022.5
pyparsing==3.0.8
PyQt5==5.15.6
PyQt5-Qt5==5.15.2
PyQt5-sip==12.10.1
python-dateutil==2.8.2
pywin32-ctypes==0.2.0
readme-renderer==35.0
requests==2.27.1
requests-toolbelt==0.9.1
rfc3986==2.0.0
rich==12.3.0
six==1.16.0
tomli==2.0.1
twine==4.0.0
urllib3==1.26.9
webencodings==0.5.1
zipp==3.8.0
